@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?444cd4');
  src:  url('fonts/icomoon.eot?444cd4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?444cd4') format('truetype'),
    url('fonts/icomoon.woff?444cd4') format('woff'),
    url('fonts/icomoon.svg?444cd4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-handshake-o:before {
  content: "\e91e";
}
.icon-leaf2:before {
  content: "\e920";
}
.icon-edit:before {
  content: "\e916";
}
.icon-heart-o:before {
  content: "\e914";
}
.icon-heart1:before {
  content: "\e915";
}
.icon-info1:before {
  content: "\e912";
}
.icon-info-circle:before {
  content: "\e910";
}
.icon-link:before {
  content: "\e92c";
}
.icon-spirituosen:before {
  content: "\e925";
}
.icon-weine:before {
  content: "\e926";
}
.icon-linkedin:before {
  content: "\e918";
}
.icon-instagram:before {
  content: "\e919";
}
.icon-brand:before {
  content: "\e919";
}
.icon-social:before {
  content: "\e919";
}
.icon-facebook:before {
  content: "\e91a";
}
.icon-brand1:before {
  content: "\e91a";
}
.icon-social1:before {
  content: "\e91a";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-hersteller:before {
  content: "\e92b";
}
.icon-stars:before {
  content: "\e923";
}
.icon-calendar:before {
  content: "\e909";
}
.icon-date:before {
  content: "\e909";
}
.icon-schedule:before {
  content: "\e909";
}
.icon-sekt:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e91d";
}
.icon-info:before {
  content: "\e911";
}
.icon-sort-alphabetically:before {
  content: "\e929";
}
.icon-rebsorten:before {
  content: "\e922";
}
.icon-restaurant:before {
  content: "\e924";
}
.icon-coffee:before {
  content: "\e927";
}
.icon-tag:before {
  content: "\e928";
}
.icon-leaf3:before {
  content: "\e921";
}
.icon-chevron-right:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e91b";
}
.icon-menu:before {
  content: "\e913";
}
.icon-trash-2:before {
  content: "\e90f";
}
.icon-clear:before {
  content: "\e90e";
}
.icon-play_arrow:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-arrow-left:before {
  content: "\e90c";
}
.icon-map-pin:before {
  content: "\e90a";
}
.icon-arrow-right-circle:before {
  content: "\e905";
}
.icon-arrow-left-circle:before {
  content: "\e906";
}
.icon-arrow-down-circle:before {
  content: "\e907";
}
.icon-arrow-up-circle:before {
  content: "\e908";
}
.icon-shopping-cart:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-shopping-bag:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e917";
}
